*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto";
  font-size: 1rem;
}

.container {
  padding: 100px 0;
  background-color: #23424a;
  color: #fff;
}

.content {
  width: 80%;
  margin: 0 auto;
  max-width: 750px;
}

.content-text {
  width: 70%;
}

.btn {
  background-color: #38cfd9;
  color: #23424a;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  border-radius: 100px;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
}

.content p {
  margin-bottom: 3em;
}

.content h1 {
  font-size: 2.5;
}

.row {
  display: flex;
}

.col {
  width: 50%;
}

.col + .col {
  margin-left: 30px;
}

.section-2 {
  background-color: #136c72;
  color: #fff;
  text-align: center;
  padding: 3rem 0;
}

.section-1 h2 {
  color: blueviolet;
}

.section-1 {
  text-align: center;
  padding: 3rem 0;
}
